@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '/vendor/awcodes/filament-table-repeater/resources/css/plugin.css';

@config 'tailwind.config.js';

.fi-ta-ctn .py-4 {
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
}
.fi-sidebar-nav-groups  {

    @apply gap-y-2;
}



.my-blue {
    @apply text-blue-600
}

.my-yellow {
    @apply text-yellow-600 !important;
}


.fi-sidebar-item-label {
    @apply text-lg !important;
}

.honeyyellow
{
    background-color: #EBBC4E  ;
}
.morehoneyyellow
{
    background-color: #f1cc75;
}
.fi-main {
    @apply morehoneyyellow;
}
.fi-layout {
    @apply morehoneyyellow;
}

.burntorange
{
    background: #cc5500;
}
.moreburntorange
{
    background: #f4a46c;
}
.burntorangecolor
{
    color: #cc5500;
}
.moregreen
{
    color: #7eaa7a;
}


.fi-sidebar-nav
{
    @apply honeyyellow;
}
.greanbackground
{
    background-color: #B9C8BC  ;
    @apply text-2xl !important;
}

.fi-sidebar-item-active > a {
    @apply moreburntorange;

    & > svg, span {
        @apply text-2xl !important;
        @apply text-white ;
    }

    &:hover {
        @apply moreburntorange;
    }
}

.fi-wi-stats-overview-header-heading {
    @apply text-2xl !important;
}
.fi-wi-stats-overview-header-description {
    @apply text-lg !important;
}
.fi-sidebar-item-icon {
    @apply text-green-300 !important;
}


