@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '/vendor/awcodes/filament-table-repeater/resources/css/plugin.css';
@config 'tailwind.config.js';

.fi-ta-ctn .py-4 {
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
}
.fi-sidebar-nav-groups  {

    @apply gap-y-2;
}



.my-blue {
    @apply text-blue-600
}

.my-yellow {
    @apply text-yellow-600 !important;
}


.fi-sidebar-item-label {
    @apply text-lg !important;
}

.honeyyellow
{
    background-color: #EBBC4E  ;
}
.fi-main {
    background-color: #EBBC4E  ;
}
.fi-layout {
    background-color: #EBBC4E  ;
}

.burntorange
{
    background: #cc5500;
}
.fi-sidebar-nav
{
    background: #cc5500;
}
.greanbackground
{
    background-color: #B9C8BC  ;
    @apply text-2xl !important;
}

.fi-sidebar-item-active > a {
    @apply honeyyellow;

    & > svg, span {
        @apply text-2xl !important;
        @apply text-white ;
    }

    &:hover {
        @apply honeyyellow;
    }
}

