@import "tailwindcss";
@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament';
@source '../../../../resources/views';
@source '../../../../resources/views/filament';
@source '../../../../app/Filament/User/**/*.php';
@source '../../../../resources/views/filament/user/**/*.blade.php';
@source '../../../../vendor/filament/**/*.blade.php';



.fi-ta-ctn .py-4 {
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
}
.fi-sidebar-nav-groups  {

    @apply gap-y-2;
}



.my-blue {
    @apply text-blue-600
}

.my-yellow {
    @apply text-yellow-600 ;
}


.fi-sidebar-item-label {
    @apply text-lg ;
}

@utility honeyyellow
{
    background-color: #EBBC4E  ;
}
@utility morehoneyyellow
{
    background-color: #f1cc75;
}
.fi-main {
    @apply morehoneyyellow;
}
.fi-layout {
    @apply morehoneyyellow;
}

@utility burntorange
{
    background: #cc5500;
}
@utility moreburntorange
{
    background: #f4a46c;
}
@utility burntorangecolor
{
    color: #cc5500;
}
@utility moregreen
{
    color: #7eaa7a;
}


.fi-sidebar-nav
{
    @apply honeyyellow;
}




@utility greanbackground
{

    .fi-section-content {
        background-color: #B9C8BC;
    }
    .fi-section-header {
        background-color: #B9C8BC;
    }
    @apply text-2xl ;
}

.fi-sidebar-item-active > a {
    @apply moreburntorange;

    & > svg, span {
        @apply text-2xl ;
        @apply text-white ;
    }

    &:hover {
        @apply moreburntorange;
    }
}

.fi-wi-stats-overview-header-heading {
    @apply text-2xl ;
}
.fi-wi-stats-overview-header-description {
    @apply text-lg ;
}
.fi-sidebar-item-icon {
    @apply text-green-300 ;
}


